<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="SafetyAlert.,"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SafetyAlert">


        <activity
            android:name=".activities.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.SafetyAlert">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.RegisterActivity"
            android:exported="false" />

        <activity
            android:name=".activities.LoginActivity"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <activity
            android:name=".activities.ContactsActivity"
            android:exported="false" />

        <activity
            android:name=".activities.MapActivity"
            android:exported="false" />

        <activity
            android:name=".activities.AlertStatusActivity"
            android:exported="false" />

        <service
            android:name=".services.LocationService"
            android:foregroundServiceType="location"
            android:exported="false" />

    </application>

</manifest>
